{% extends "layouts/base.twig" %}

{% block content %}

  {% if post.meta('shape-images') %}

    {{ include('components/shape-images.twig') }}

  {% else %}

    <article id="post-{{ post.ID }}">
      <section>
        <h1>{{ post.title }}</h1>
        {{ post.content }}
      </section>
    </article>

  {% endif %}

{% endblock %}
